# Advanced pandas Practice - Nashville City Cemetery

Import packages

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

---

### 1. Read the City Cemetery data into a pandas DataFrame

In [2]:
cem_df = pd.read_excel('../../data/Historic_Nashville_City_Cemetery_Interments__1846-1979 (2).xlsx')

cem_df

---

### 2. Most Common Causes of Death.

2a.  Find the 10 most common (known) recorded causes of death.

In [3]:
#subset the dataframe to contain only known causes
known_causes = cem_df[~cem_df['Cause of Death/Burial'].isin(['Unknown', 'Not Known'])]

#obtain a value count of known causes of death
top_10 = known_causes['Cause of Death/Burial'].value_counts()

#select only the top 10
top_10 = top_10.head(10).reset_index()

#change column names
top_10.columns = ['Cause of Death', 'Count']

#show the dataframe
top_10

---

2b. Clean up some of the misspellings. Use the replace method to clean up some of the causes of death. For example, replace "Cholrea" with "Cholera" and "Still Born" with "Stillborn".

In [4]:
cem_df['Cause of Death/Burial'] = cem_df['Cause of Death/Burial'].replace({"Cholrea" : "Cholera", 
                                                                           "Still Born" : "Stillborn"})

---

2c. After correcting the spellings, find the 10 most common causes of death and create a bar chart to display your findings. (run the code from 2a)

In [5]:
#subset the dataframe to contain only known causes
known_causes = cem_df[~cem_df['Cause of Death/Burial'].isin(['Unknown', 'Not Known'])]

#obtain a value count of known causes of death
top_10 = known_causes['Cause of Death/Burial'].value_counts()

#select only the top 10 and reset index to create a dataframe
top_10 = top_10.head(10).reset_index()

#change column names
top_10.columns = ['Cause of Death', 'Count']

#show the dataframe
top_10

---

### 3. Create a line chart showing the number of burials per year.

In [6]:
#obtain a value count for each burial year
count_by_year = cem_df['Burial Year'].value_counts()

#reset index to create a dataframe
count_by_year = count_by_year.reset_index()

#name the columns
count_by_year.columns = ['Burial Year', 'Count']

#sort by year
count_by_year = count_by_year.sort_values(by = 'Burial Year')

#create a line chart
sns.lineplot(data = count_by_year, x = 'Burial Year', y = 'Count')

#label y-axis
plt.ylabel('Count of Burials')

---

### 4. Burials per Month and Year

4a. Use the crosstab function to build a summary table showing the number of burials per year per month. You should have one row per year and one column for month.

4b. After creating this summary table, make sure that the year labels are integers (no decimal part) and that the columns are sorted correctly.

In [7]:
#drop all of the NA year values from the dataframe
cem_df2 = cem_df.dropna(subset = 'Burial Year')

#convert 'Burial Year' to an int
cem_df2['Burial Year'] = cem_df2['Burial Year'].astype(int)

#set 'Burial Month' to be an ordered categorical variable
cem_df2['Burial Month'] = pd.Categorical(cem_df2['Burial Month'],
                                         categories = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                                         ordered = True)

#create a crosstab summary table
crosstab = pd.crosstab(cem_df2['Burial Year'], cem_df2['Burial Month'])

#view crosstab table
crosstab

c. Filter your table to show only the years 1846 through 1860.

In [8]:
crosstab.loc[1846:1860,]

4d. Go back to your original DataFrame and filter to the year and month that had the largest number of burials. What are the most common causes of death for that month?

In [9]:
#convert 'Burial Year' to int without dropping the Nan values
cem_df['Burial Year'] = pd.to_numeric(cem_df['Burial Year'], errors='coerce').astype('Int64')

#subset the dataframe to include only year and month columns
cem_yr_month = cem_df[['Burial Year', 'Burial Month']]

#group by year
cem_yr_month_groupby_yr = cem_yr_month.groupby('Burial Year')

#obtain a value counts for each month and reset index to create a dataframe
cem_yr_month_groupby_yr = cem_yr_month_groupby_yr.value_counts().reset_index()

#rename columns
cem_yr_month_groupby_yr.columns = ['year', 'month', 'count']

#sort values with the highest at the top
cem_yr_month_groupby_yr.sort_values(by = 'count', ascending = False)

In [10]:
#subset the dataframe to include only September, 1866
sep_1866 = cem_df[(cem_df['Burial Year'] == 1866.0) & (cem_df['Burial Month'] == 'Sep')]

#obtain a value counts of the causes of death and display the top 5
sep_1866['Cause of Death/Burial'].value_counts().head()

The month with the largest number of burials was September, 1866.

The most common cause of death in September 1866 was Cholera

---

### 5. Burials per Decade

5a. Create a "Decade" column to show the decade in which a burial occurred.

The // operator is the floor division operator.  It performs division between two numbers and rounds down the result to the nearest whole number.
The function 'get_decade()' 

- Divides the year by 10

- Rounds down to the nearest whole number

- Multiplies by 10

- Adds an 's' at the end

In [11]:
#define a function get_decade that takes a value (year) and returns the decade
def get_decade(year):
    return str(year // 10 * 10) + 's'

#create a new column and apply the 'get_decade' function to fill the column
cem_df['Decade'] = cem_df['Burial Year'].apply(get_decade)

#view the dataframe
cem_df


5b. Examine the burials per decade. Look at the total number of burials and the proportion (aka percentage) of male burials and female burials.

In [12]:
#view the unique values in the Sex column
cem_df['Sex'].unique()

In [13]:
#clean up the Sex column values:

#create a mapping
mapping = {'F' : 'Female',
           'M' : 'Male',
           'nan' : 'unknown',
           'N' : 'unknown',
           'D' : 'unknown', 
           'F, M' : 'Male and Female',
           'M & F' : 'Male and Female',
           'G' : 'unknown', 
           'F & M' : 'Male and Female', 
           'M, F' : 'Male and Female',
           'm' : 'Male', 
           'W' : 'unknown', 
           'Boy' : 'Male', 
           'FF' : 'Female'}

#apply the mapping to the 'Sex' column
cem_df['Sex'] = cem_df['Sex'].replace(mapping)

#view the unique values
cem_df['Sex'].unique()

In [14]:
#total number of burials per decade
burial_proportion = cem_df['Decade'].value_counts().reset_index()

#rename columns
burial_proportion.columns = ['decade', 'total_burials']

#view df
burial_proportion

In [15]:
#subset to include only males
males = cem_df[cem_df['Sex'] == 'Male']

#obtain a valuecounts for males
males = males['Decade'].value_counts().reset_index()

#rename columns
males.columns = ['decade', 'total_males']

#view df
males

In [16]:
#subset to include only females
females = cem_df[cem_df['Sex'] == 'Female']

#obtain a valuecounts for females
females = females['Decade'].value_counts().reset_index()

#rename columns
females.columns = ['decade', 'total_females']

#view df
females

In [17]:
#merge all three dataframes (useing a nested merge)
burial_proportion = pd.merge(pd.merge(burial_proportion, males, on = 'decade', how = 'outer'), females, on = 'decade', how = 'outer')

#view df
burial_proportion

In [18]:
#create a column for percent males
burial_proportion['perc male'] = round(burial_proportion['total_males']/burial_proportion['total_burials']*100, 2)

#create a column for percent females
burial_proportion['perc female'] = round(burial_proportion['total_females']/burial_proportion['total_burials']*100, 2)

#view df
burial_proportion

---

3c. Create a clustered bar chart to show how male and female burials have changed over time.

In [19]:
#melt the dataframe to long format for seaborn
melted_df = pd.melt(burial_proportion, id_vars='decade', var_name='variable', value_name='number')

#view df
melted_df

In [20]:
#subset the dataframe to include only total_males and total_females
males_females = melted_df[(melted_df['variable'] == 'total_males') | (melted_df['variable'] == 'total_females')]

#create a clustered bar chart
sns.barplot(data = males_females, x = 'decade', y = 'number', hue = 'variable')

plt.legend(title='', loc='upper right')
plt.ylabel('Total Number')
plt.xlabel('Decade')
plt.xticks(rotation = 45)